inputs/train-tif-v2
inputs/train-jpg
inputs/test-jpg
inputs/test-jpg-additional
inputs/test-jpg.tar.7z
inputs/Kaggle-planet-test-tif.torrent
inputs/Kaggle-planet-train-tif.torrent
inputs/test-jpg-additional.tar.7z
inputs/train-jpg.tar
inputs/train-tif-v2.tar
inputs/train-tif-v2.tar.7z
inputs/Kaggle-planet-test-tif
inputs/train-jpg.tar.7z
inputs/test-jpg.tar
features
augmented
debug.log
.ipynb_checkpoints
.idea
model/__pycache__
utils/__pycache__/
models
predictions
other_models
extra_labeled